<!DOCTYPE HTML>
<html>

<head>
    <title>Media Upload</title>
    <link rel = "stylesheet" href = "/stylesheets/bootstrap/bootstrap.css">
    <script src = "/js/bootstrap/bootstrap.js"></script>
    <link rel = "stylesheet" href = "/stylesheets/mediaupload.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
</head>

<body class="container-fluid bg-secondary py-4 px-5">
    <div class="row py-4">
        <nav class="navbar navbar-expand-lg navbar-light bg-light rounded shadow">
            <span class="navbar-brand mb-0 h1" href="#">
                <img src="/assets/thinq logo.png" height="30" class="d-inline-block aligh-text-top">    <!-- CAN BE POTENTIALLY CHANGED -->
                Tiny Video Player
            </span>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeadNav" aria-controls="navbarHeadNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarHeadNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/mediaupload/">Media Upload</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Documentation</a></li> <!-- LINK TO DOCUMENTATION -->
                    <li class="nav-item"><a class="nav-link" href="#">Give Feedback</a></li> <!-- LINK TO A GOOGLE FORM/OTHER WEBSITE -->
                </ul>
            </div>
        </nav>
    </div>