<%- include('partials/header.ejs', {pageName: "Home"})%>

<div class="row py-4 main-content">
    <div class="container-fluid bg-light p-4 rounded shadow">
        <h1 class="display-5 fw-bold">Welcome to the ThinQ.tv Tiny Photo/Video Player!</h1>
        <p class="col-md-8 fs-4">
            This website lets you upload media to the video player, and access some important links as well!
        </p>
    </div>
</div>

<%- include('partials/footer.ejs')%>