<%- include('partials/header.ejs')%>

<div class="row py-4">
    <div class="container-fluid bg-light p-4 rounded shadow">
        <h1>Upload media Here</h1>
        <form action="/mediaupload" enctype="multipart/form-data" method="POST">
            <div class="form-group py-2"><input type="file" name="uploadFiles" class="form-control" multiple="multiple"></div>
            <div class="form-group py-2 d-grid gap-2"><button class="btn btn-outline-primary">Upload</button></div>
        </form>
    </div>
</div>

<%- include('partials/footer.ejs') %>